@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900');
@import url('https://fonts.googleapis.com/css2?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Akronim');
@import url('https://fonts.googleapis.com/css?family=Lacquer');
@import url('https://fonts.googleapis.com/css?family=Iceland');
@import url('https://fonts.googleapis.com/css?family=Langar');

body {
    font-family: -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    /* max-width: 680px; */
    background: #fff;
    color: #333;
}

iframe {
    background: #ccc;
    border: 1px solid #ccc;
    height: 10rem;
    width: 100%;
    border-radius: 0.5rem;
    filter: invert(1);
}

.responsive .react-colorful {
    width: auto;
}

div.user-info img.twemoji-sm,
img.twemoji-bg {
    display: inline-block;
}

img.twemoji-sm {
    height: 16px;
    width: 16px;
}

img.twemoji-bg {
    height: 21px;
    width: 21px;
}

div.drop-button {
    display: none;
}

div.tweet {
    font-size: inherit;
}

div.user-info img.avatar {
    width: 48px;
    height: 48px;
}

div.tweet-content {
    font-size: 18px;
}

div.tweet {
    width: 100% !important;
}

.animated-gradient {
    background: linear-gradient(270deg, #21f5ee, #9621f5, #21f5ee, #9621f5);
    background-size: 400% 200%;

    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
