@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900');
@import url('https://fonts.googleapis.com/css2?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Akronim');
@import url('https://fonts.googleapis.com/css?family=Lacquer');
@import url('https://fonts.googleapis.com/css?family=Iceland');
@import url('https://fonts.googleapis.com/css?family=Langar');

body {
    font-family: -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    /* max-width: 680px; */
    background: #fff;
    color: #333;
}

iframe {
    background: #ccc;
    border: 1px solid #ccc;
    height: 10rem;
    width: 100%;
    border-radius: 0.5rem;
    filter: invert(1);
}

.responsive .react-colorful {
    width: auto;
}

span.fake-link > img {
    display: inline-block;
}
